.photo {
   	width: 100%;
    border-radius: 20px;
    margin: 5%;
}
#photos {
    width: 30%;
    float: left;
}
#name {
    font-family: 'Tangerine', serif;
    text-align: center;
    color: white;
    font-size: 72px;
}
#header {
    background-color: gray;
    width: 100%;
}
h3 {
    font-family: 'Tangerine', serif;
    color: gray;
    font-size: 50px;
    line-height: 10px;
}
p, ul {
    font-family: 'Open Sans', sans-serif;
    padding: 0% 5% 0% 5%;
}
#bio {
    display: block ;
    width: 60%;
    float: right;
}